{# @var craft \craft\web\twig\variables\CraftVariable #}
{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
    {% set setting = '<code>'~setting~'</code>' %}
    {{ "This is being overridden by the {setting} config setting in your {file} config file."|t('scout', {
        setting: setting,
        file: 'scout.php'
    })|raw }}
{%- endmacro %}
{% from _self import configWarning %}

{{ forms.lightswitchfield({
    label: 'Sync',
    name: 'sync',
    instructions: 'Should Scout sync its indices automatically',
    on: settings.sync,
    disabled: 'sync' in overrides,
    warning: 'sync' in overrides ? configWarning('sync'),
}) }}

{{ forms.lightswitchfield({
    label: 'Queue',
    name: 'queue',
    instructions: 'Should Scout use a queue for syncing',
    on: settings.queue,
    disabled: 'queue' in overrides,
    warning: 'queue' in overrides ? configWarning('queue'),
}) }}

{{ forms.textfield({
    label: 'Connection timeout',
    name: 'connect_timeout',
    type: 'number',
    instructions: 'The connection timeout in seconds',
    value: settings.connect_timeout,
    disabled: 'connect_timeout' in overrides,
    warning: 'connect_timeout' in overrides ? configWarning('connect_timeout'),
}) }}

{{ forms.textfield({
    label: 'Batch size',
    name: 'batch_size',
    type: 'number',
    instructions: 'This is used when running an import on a full index.',
    value: settings.batch_size,
    disabled: 'batch_size' in overrides,
    warning: 'batch_size' in overrides ? configWarning('batch_size'),
}) }}

{{ forms.autosuggestfield({
    label: 'Api Endpoint',
    name: 'apiEndpoint',
    suggestEnvVars: true,
    value: settings.apiEndpoint,
    disabled: 'apiEndpoint' in overrides,
    warning: 'apiEndpoint' in overrides ? configWarning('apiEndpoint'),
}) }}

{{ forms.autosuggestfield({
    label: 'Api Key',
    name: 'apiKey',
    suggestEnvVars: true,
    value: settings.apiKey,
    disabled: 'apiKey' in overrides,
    warning: 'apiKey' in overrides ? configWarning('apiKey'),
}) }}

<div class="field">
    <div class="heading">
        <label>Indices</label>

        <div class="instructions">
            {{ "Scout’s index settings can only be set using the `scout.php` config file." | t('scout') | markdown }}
        </div>
    </div>
</div>